<style>
  .ctm-slider-main {
    position: relative;
    height: 900px;
  }

  .ctm-slider-main .swiper {
    height: 100%;
  }
  .ctm-slider-main .swiper-wrapper {
    height: 100%;
  }
  .ctm-slider-main .swiper-slide {
    position: relative;
    color: #fff;
    background-size: cover;
    background-position: center;
  }

  .ctm-slider-main .slider-item {
    text-align: center;
    padding: 20px;
  }
  .ctm-slider-main .slider-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .ctm-slider-main .slider-heading {
    font-size: 2rem;
    margin-top: 10px;
  }
  .ctm-slider-main .slider-description {
    margin-top: 10px;
    color: #333;
  }
  .ctm-slider-main .slider-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    text-decoration: none;
  }

  /* Alignment modifiers */
  .ctm-slider-main .slider-content-content-align-left,
  .ctm-slider-main .slider-content-content-align-center,
  .ctm-slider-main .slider-content-content-align-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    z-index: 2;
  }
  .ctm-slider-main .slider-content-content-align-left {
    align-items: flex-start;
    text-align: left;
  }
  .ctm-slider-main .slider-content-content-align-center {
    align-items: center;
    text-align: center;
  }
  .ctm-slider-main .slider-content-content-align-right {
    align-items: flex-end;
    text-align: right;
  }
</style>

<div class="ctm-slider-main {{ section.settings.extra_class }}">
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.type == 'slider_content' %}
          <div
            class="swiper-slide"
            {{ block.shopify_attributes }}
            style="background-image: url('{{ block.settings.slider_image | image_url: width: 2000 }}'); background-size: cover; background-position: center;"
          >
            <div class="slider-content-content-align-{{ block.settings.content_alignment }}">
              {% if block.settings.heading != blank %}
                <div class="slider-heading">
                  {{ block.settings.heading }}
                </div>
              {% endif %}
              {% if block.settings.description != blank %}
                <div class="slider-description">
                  {{ block.settings.description }}
                </div>
              {% endif %}
              {% if block.settings.button_text != blank and block.settings.button_url != blank %}
                <a href="{{ block.settings.button_url }}" class="slider-button">
                  {{ block.settings.button_text }}
                </a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.ctm-slider-main .swiper', {
      loop: true,
      speed: 600,
      slidesPerView: 1,
      navigation: {
        nextEl: '.ctm-slider-main .swiper-button-next',
        prevEl: '.ctm-slider-main .swiper-button-prev',
      },
      pagination: {
        el: '.ctm-slider-main .swiper-pagination',
        clickable: true,
      },
    });
  });
</script>

{% schema %}
{
  "name": "Slider",
  "class": "ctm-slider-main",
  "settings": [
    {
      "type": "text",
      "label": "Extra Class",
      "id": "extra_class"
    }
  ],
  "blocks": [
    {
      "type": "slider_content",
      "name": "Slider Content",
      "settings": [
        {
          "type": "image_picker",
          "label": "Slider Image",
          "id": "slider_image"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content Alignment",
          "options": [
            { "label": "Left", "value": "left" },
            { "label": "Center", "value": "center" },
            { "label": "Right", "value": "right" }
          ],
          "default": "center"
        },
        {
          "type": "richtext",
          "label": "Heading",
          "id": "heading"
        },
        {
          "type": "richtext",
          "label": "Description",
          "id": "description"
        },
        {
          "type": "text",
          "label": "Button Text",
          "id": "button_text"
        },
        {
          "type": "url",
          "label": "Button URL",
          "id": "button_url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider"
    }
  ]
}
{% endschema %}
